<div id="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">账户中心</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <tbody>
                    <tr>
                        <td width="25%">用户名：</td>
                        <td>{$infos.user_name}</td>
                    </tr>

                    <tr>
                        <td width="25%">密码管理：</td>
                        <td>
                            <a href="{:U('main/password')}" class="btn btn-xs btn-default">
                                <i class="demo-pli-gear icon-lg icon-fw"></i> 密码重置
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>