<div id="page-content">
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">密码修改</h3>
            </div>


            <!-- BASIC FORM ELEMENTS -->
            <!--===================================================-->
            <form class="panel-body form-horizontal form-padding" action="{:U('Main/changepass')}" method="post">

                <div class="form-group">
                    <label class="col-md-3 control-label">原始密码</label>
                    <div class="col-md-6">
                        <input type="password" class="form-control" name="pwd">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3 control-label">新密码</label>
                    <div class="col-md-6">
                        <input type="password" class="form-control" name="npwd">
                        <small class="help-block">密码长度6~16位；仅支持数字、字母</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">确认新密码</label>
                    <div class="col-md-6">
                        <input type="password" class="form-control" name="rpwd">
                        <small class="help-block">密码长度6~16位；仅支持数字、字母</small>
                    </div>
                </div>

                <div style="height: 20px;"></div>
                <div class="form-group text-center">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-block btn-primary">确认修改</button>
                    </div>
                </div>
            </form>
            <!--===================================================-->
            <!-- END BASIC FORM ELEMENTS -->


        </div>
    </div>
</div>